[Unit]
Description=Reverse Proxy container
After=docker.service

[Service]
TimeoutStartSec=0
Type=oneshot
RemainAfterExit=true
ExecStartPre=-/usr/bin/docker kill reverse-proxy
ExecStartPre=-/usr/bin/docker rm -f reverse-proxy
ExecStartPre=/usr/bin/docker pull darco/reverse-proxy
ExecStartPre=-/usr/bin/docker create --name="reverse-proxy-backing" darco/reverse-proxy
ExecStart=/usr/bin/docker run \
	-d \
	--name reverse-proxy \
	-p 80:80/tcp \
	-p 443:443/tcp \
	-v /etc/squid/reverse-proxy.conf:/etc/squid/squid.conf \
	--volumes-from=reverse-proxy-backing \
	darco/reverse-proxy
ExecStop=/usr/bin/docker stop -t 2 reverse-proxy
Restart=always

[Install]
WantedBy=multi-user.target

